In [1]:
import pandas as pd
import nltk

This imports the libraries we need.

## Combined_pre Preparation

In [26]:
combined_pre = pd.read_csv('../assets/combined_pre.csv', index_col=0)
combined_pre = combined_pre[['text']]
combined_pre['text'] = combined_pre['text'].apply(str.lower)
combined_pre.drop_duplicates(subset='text', inplace=True)
combined_pre['disaster'] = 0
combined_pre.reset_index()
combined_pre.head()

                                                text  disaster
0   baytown pd  man sought after teen suspect kil...         0
1              amy st  houston  tx                           0
2   crazy about this sisterhood  stephen f  austi...         0
3   drinking a steam punk rousing steam lager by ...         0
4   reposted with the right cosplayer this time  ...         0

This classifies all of the predisaster data as being not disaster related and also drops all duplicates.

## Combined_post Preparation

In [27]:
combined_post = pd.read_csv('../assets/combined_post.csv', index_col=0)
combined_post = combined_post[['text']]
combined_post['text'] = combined_post['text'].apply(str.lower)
combined_post.drop_duplicates(subset='text', inplace=True)
combined_post.head()

                                                text
0   live in  rd ward at peggy park giving bacc to...
1   accident cleared in  bellaire on     w lp nb ...
2   a nice cold saintarnoldbrewing art car ipa af...
3   where to shop  sale of unique items helps aid...
4   aerial tour shows devastation of epic floodin...

In [28]:
disaster_keywords = []
with open('../assets/disaster_keywords.txt') as f:
    for phrase in f:
        disaster_keywords.append(phrase.strip())
disaster_keywords[:5]

['earthquake', 'hurricane', 'fire', 'emergency', 'help']

In [29]:
def disaster_related(tweet): 
    words = set(nltk.word_tokenize(tweet))
    if len(words.intersection(set(disaster_keywords))) > 0: 
        return 1
    return 0

This is a function that will classify the postdisaster data as disaster related or not.

In [30]:
combined_post['disaster'] = combined_post['text'].apply(disaster_related)

This classifies the postdisaster data as being disaster related or not.

In [31]:
combined_post.head()

                                                text  disaster
0   live in  rd ward at peggy park giving bacc to...         0
1   accident cleared in  bellaire on     w lp nb ...         0
2   a nice cold saintarnoldbrewing art car ipa af...         0
3   where to shop  sale of unique items helps aid...         1
4   aerial tour shows devastation of epic floodin...         1

In [32]:
print(combined_pre.shape)
print(combined_post.shape)

(31423, 2)
(67127, 2)

In [33]:
combined_post['disaster'].value_counts(normalize=True)

0    0.668822
1    0.331178
Name: disaster, dtype: float64

## Saving the files to csvs

In [34]:
combined_pre.to_csv('../assets/combined_pre_classed.csv')
combined_post.to_csv('../assets/combined_post_classed.csv')

This saves the predisaster and postdisaster dataframes to csv format.